* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: #f5eeff;
  border-radius: 3px;
}

.header {
  text-align: center;
  font-size: 40px;
}

.new-item-form {
  width: 184px;
  margin: auto;
}

.new-item {
  border-radius: 20px;
  border: 1px solid dimgray;
  width: 160px;
  height: 32px;
  padding: 2px 16px;
  display: block;
  margin: 12px;
}

.item-btn {
  border-radius: 20px;
  border: 1px solid #545F71;
  background-color: #C7D5EC;
  color: #545F71;
  font-size: 12px;
  width: 160px;
  height: 32px;
  padding: 2px 16px;
  display: block;
  margin: 12px;
}

ul {
  list-style-type: none;
}

.list {
  padding-left: 124px;
}

.trash-icon {
  font-size: 14px;
  color:rgb(115, 110, 141);
  outline: none;
  border: none;
  background-color: transparent;
}

.trash-icon:hover {
  color: rgb(71, 67, 90);
}